@model List<Producto>

@{
    ViewData["Title"] = "Listado de Productos";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @foreach (var producto in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@Url.Content(producto.RutaImagen)" class="card-img-top img-producto" alt="@producto.NombreProducto">
                <div class="card-body bg-purple text-white">
                    <h5 class="card-title">@producto.NombreProducto</h5>
                    <p class="card-text">Precio: S/ @producto.Precio.ToString("0.00")</p>
                    <p class="card-text">Categoría: @producto.Categoria.NombreCategoria</p>
                    <p class="card-text">Marca: @producto.Marca.NombreMarca</p>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .img-producto {
        width: 100%;
        height: auto;
        max-height: 400px;
    }

    .bg-purple {
        background-color: #4b0070; /* Color morado */
    }
</style>

